.contactList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 200px;
  overflow-y: scroll;
}

.contactListItem {
  margin: 0;
}

.contactListButton {
  background-color: aliceblue;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  margin-left: 20px;
}
